$roxo: #8844ee;

@function em($pixels, $context: 16) {
  @return calc($pixels / $context) * 1em;
}

.cu {
  font-size: em(42);
  background: $roxo;
  &:hover {
    background: lighten($roxo, 5%);
  }
}
